/.vs
.vs/OAuth2/DesignTimeBuild/.dtbcache.v2
.vs/OAuth2/FileContentIndex/2b457956-66a0-4223-adaa-4f23c258af89.vsidx
.vs/OAuth2/FileContentIndex/5409bc0a-0d35-43d6-b248-4e8fe36afcf1.vsidx
.vs/OAuth2/FileContentIndex/7e360f4d-cb91-4666-9125-bde1c986abfc.vsidx
.vs/OAuth2/FileContentIndex/b121b246-f8b2-4a43-8ca2-e2af8428cb1e.vsidx
.vs/OAuth2/v17/.suo
.vs/ProjectEvaluation/oauth2.metadata.v2
.vs/ProjectEvaluation/oauth2.projects.v2
IndividualUserAccount/obj/Debug/net6.0/project.razor.vs.json
OAuthGoogle/bin/Debug/net6.0/OAuthGoogle.dll
OAuthGoogle/bin/Debug/net6.0/OAuthGoogle.pdb
OAuthGoogle/obj/Debug/net6.0/OAuthGoogle.dll
OAuthGoogle/obj/Debug/net6.0/OAuthGoogle.pdb
OAuthGoogle/obj/Debug/net6.0/ref/OAuthGoogle.dll
OAuthGoogle/obj/Debug/net6.0/refint/OAuthGoogle.dll
OAuthGoogle/obj/staticwebassets.pack.sentinel
OAuthGoogle/Views/Account/Login.cshtml
OAuthGoogle/Views/Home/Secured.cshtml
OAuthGoogle/Views/Shared/_Layout.cshtml
OAuthGoogle/Views/Twitter/Tweets.cshtml
